extends layout

block content
  h1= title
  p Welcome to #{title}
  
  .container
      p 
        span Title
        span 
          input
      p 
        span Author
        span 
          input
      p 
        span Content
        span 
          textarea
      .button
        button New
  
